* {
  text-decoration: none;
  list-style-type: none;
}

body,
html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  display: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: calc(100% - 2em);
  background-color: #961CCB;
}

header a {
  color: white;
}

header a.logo {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: whitesmoke;
}

header img.musicbar {
  width: 67px;
  height: 28px;
  position: absolute;
  margin-left: 105px;
  margin-top: -6px;
}

header a.menu {
  margin-left: auto;
  padding: 0;
}

header a.menu:hover {
  color: #6C63FF;
  background: #D19946;
  border: 2px solid #F8F5F5;
  border-radius: 50%;
  padding: 5px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header nav ul {
  display: none;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper img.background-shape-ipad {
  display: none;
}

.wrapper svg.background-shape-mobile {
  position: absolute;
  width: 375px;
  left: -6px;
  top: 930px;
  height: 499px;
  opacity: 0.4;
}

.wrapper svg.version2 {
  position: absolute;
  width: 375px;
  height: 500px;
  left: -6px;
  top: 1510px;
  opacity: 0.4;
}

.wrapper section {
  padding: 2em;
}

.wrapper section h3,
.wrapper section h5,
.wrapper section ul,
.wrapper section .subscribe-btn-mobile {
  text-transform: uppercase;
}

.wrapper .clipper {
  overflow: hidden;
}

.wrapper section.hero {
  width: calc(100% - 3em);
  height: 812px;
  background: url("../img/Backgroundimage.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper section.hero img.background-shape-hero-ipad {
  display: none;
}

.wrapper section.hero img.background-shape-hero {
  display: none;
}

.wrapper section.hero img.background-shape-hero-mobile {
  position: absolute;
  width: 443.26px;
  height: 286.3px;
  left: -100px;
  top: 228.91px;
  opacity: 0.5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper section.hero div.body-text {
  position: absolute;
  width: calc(100%-2em);
  height: 466px;
  left: 0px;
  top: 164px;
  z-index: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 1em;
}

.wrapper section.hero div.body-text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 3rem;
  color: #FFFFFF;
}

.wrapper section.hero div.body-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
  /* or 32px */
  text-align: justify;
  color: #FFFFFF;
}

.wrapper section.hero div.body-text div.clipper a.mobile-btn {
  position: absolute;
  width: 224px;
  height: 70px;
  left: -22px;
  top: 420px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  word-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-image: url("../img/chevron right.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-x: 19px;
  background-position-y: 19px;
  margin: 0;
  padding-left: 57px;
  text-transform: uppercase;
}

.wrapper section.hero div.body-text div.clipper a.mobile-btn:hover {
  border: none;
  background-color: #6C63FF;
}

.wrapper section.subscribe {
  width: calc(100% - 2em);
  height: 504px;
}

.wrapper section.subscribe div.clipper img.starshapemobile {
  display: none;
  position: absolute;
  width: 335px;
  height: 91px;
  left: 20px;
  top: 42px;
  opacity: 0.25;
}

.wrapper section.subscribe div.clipper img.cloudmobile {
  display: none;
  position: absolute;
  width: 40.97px;
  height: 28.49px;
  left: 32.77px;
  top: 80px;
  opacity: 0.25;
}

.wrapper section.subscribe div.clipper div.subscribe-card {
  position: absolute;
  width: calc(100% - 2em);
  height: 256px;
  left: 57px;
  top: 979px;
  margin: 0;
}

.wrapper section.subscribe div.clipper div.subscribe-card img {
  width: 261px;
  height: 140.2px;
}

.wrapper section.subscribe div.clipper div.subscribe-card h3 {
  width: 261px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  line-height: 150%;
  /* or 24px */
  color: #D19946;
  padding: 20px 0px 10px 0px;
}

.wrapper section.subscribe div.clipper div.subscribe-card input[type=text] {
  width: 261px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #6C63FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: .7em;
  line-height: 150%;
  /* or 16px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
  padding-left: 5px;
}

.wrapper section.subscribe div.clipper div.subscribe-card input[type=text]:hover {
  border: 1px solid #D19946;
}

.wrapper section.subscribe div.clipper div.subscribe-card .subscribe-btn-mobile {
  width: 261px;
  height: 35px;
  background: #6C63FF;
  border: none;
  border-radius: 3px;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 150%;
  /* or 27px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  margin-top: 10px;
  cursor: pointer;
}

.wrapper section.subscribe div.clipper div.subscribe-card .subscribe-btn-mobile:hover {
  background: none;
  border: 1.3px solid #6C63FF;
  color: #6C63FF;
}

.wrapper section.footer {
  width: calc(100% - 2em);
  height: 809px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper section.footer ul.footer-links {
  margin-bottom: 5em;
  position: relative;
}

.wrapper section.footer ul.footer-links h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  /* identical to box height */
  color: #717171;
  margin-bottom: 1.2rem;
}

.wrapper section.footer ul.footer-links li {
  margin-bottom: .7rem;
}

.wrapper section.footer ul.footer-links li a {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 16px;
  color: #909090;
  margin-bottom: 1em;
}

.wrapper section.footer ul.footer-links li a:hover {
  color: #717171;
  font-size: .8em;
  font-weight: 700;
}

.wrapper section.footer div.anim-panel img {
  display: none;
}

.wrapper section.footer div.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper section.footer div.social-media .line {
  height: 120px;
  margin: 35px 30px 0px 10px;
}

.wrapper section.footer div.social-media .social-media-icons {
  margin-top: 12px;
}

.wrapper section.footer div.social-media .social-media-icons li a img:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper section.footer .bottom-strip {
  width: 100%;
  height: 22px;
  background-color: #D19946;
  position: absolute;
  left: 0px;
  top: 2353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  header img.musicbar {
    width: 67px;
    height: 28px;
    position: absolute;
    margin-left: 130px;
    margin-top: -4px;
  }
  header a.menu {
    display: none;
  }
  header a.menu:hover {
    color: #6C63FF;
  }
  header nav ul {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li a {
    margin: 0;
    padding-left: 2.5em;
    font-size: .8em;
  }
  header nav ul li a:hover {
    padding: 7px 14px 7px 14px;
    border-bottom: 1.5px solid #ffffff;
    font-size: .6em;
    font-weight: bolder;
    border-radius: 5px;
    margin-left: 2.5em;
  }
  .wrapper img.background-shape-ipad {
    display: block;
    position: absolute;
    left: 0px;
    top: 1100px;
  }
  .wrapper svg.background-shape-mobile {
    display: none;
  }
  .wrapper svg.version2 {
    display: none;
  }
  .wrapper section.hero div.body-text {
    position: absolute;
    width: calc(100% - 2em);
    height: 510px;
    left: 0px;
    top: 100px;
    z-index: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper section.hero div.body-text h1 {
    font-size: 3.5em;
    line-height: 5rem;
    margin-bottom: 0px;
  }
  .wrapper section.hero div.body-text p {
    font-size: 1.2em;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 20px;
  }
  .wrapper section.hero div.body-text div.clipper a.ipad-btn {
    position: absolute;
    width: 374px;
    height: 100px;
    left: -24px;
    top: 563px;
    background-position-x: 50px;
    background-position-y: 33px;
    padding-left: 120px;
    background-size: 35px 35px;
  }
  .wrapper section.subscribe {
    width: 100%;
    height: 730px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card {
    position: absolute;
    width: calc(100% - 6em);
    height: 439px;
    left: 130px;
    top: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card img {
    width: calc(100% - 1em);
    height: 250px;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card h3 {
    width: 100%;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    /* or 45px */
  }
  .wrapper section.subscribe div.clipper div.subscribe-card input[type=text] {
    width: 100%;
    height: 50px;
    font-size: 1em;
    background: #F8F5F5;
    text-align: center;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card .subscribe-btn-ipad {
    width: 100%;
    height: 60px;
    font-size: 1.3em;
  }
  .wrapper section.footer {
    width: 100%;
    height: 300px;
    margin: 0px 0px;
  }
  .wrapper section.footer div.clipper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    width: 100%;
  }
  .wrapper section.footer ul.footer-links {
    margin-bottom: 5em;
    position: relative;
    margin-right: 50px;
    margin-top: 50px;
  }
  .wrapper section.footer ul.footer-links h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 18px;
  }
  .wrapper section.footer ul.footer-links li {
    margin-bottom: .7rem;
  }
  .wrapper section.footer ul.footer-links li a {
    font-size: .75rem;
  }
  .wrapper section.footer ul.footer-links li a:hover {
    font-size: .8em;
  }
  .wrapper section.footer ul.icons {
    margin-top: 67px;
  }
  .wrapper section.footer .bottom-strip {
    height: 25px;
    top: 2100px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 25px;
  }
  header img.musicbar {
    margin-left: 160px;
    margin-top: -1px;
  }
  header nav ul li a {
    font-size: .6em;
    font-weight: bold;
    padding-left: 50px;
  }
  header nav ul li a:hover {
    padding: 7px 14px 7px 14px;
    border: 1.5px solid #ffffff;
    font-size: .53em;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 1.56em;
  }
  .wrapper img.background-shape-ipad {
    display: none;
  }
  .wrapper section.hero {
    width: 100%;
    height: 1024px;
  }
  .wrapper section.hero img.background-shape-hero-mobile {
    display: none;
  }
  .wrapper section.hero img.background-shape-hero {
    display: block;
    position: absolute;
    width: 982px;
    height: 400px;
    left: -180px;
    top: 160px;
  }
  .wrapper section.hero div.body-text {
    position: absolute;
    width: 860px;
    height: 700px;
    top: 0px;
    margin: 2em;
    margin-top: 1em;
  }
  .wrapper section.hero div.body-text p {
    font-size: 1em;
    margin-bottom: 5em;
  }
  .wrapper section.hero div.body-text div.clipper a.cta-btn {
    width: 483px;
    height: 130px;
    left: -2.2em;
    top: 570px;
    background-position-x: 70px;
    background-position-y: 43px;
    padding-left: 150px;
    background-size: 45px 45px;
  }
  .wrapper section.subscribe {
    position: absolute;
    width: 509px;
    height: 531px;
    left: 901px;
    top: -905.5px;
    margin: 0;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card {
    width: 100%;
    height: 531px;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card img {
    width: 100%;
    height: 325px;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card h3 {
    width: 100%;
    font-size: 30px;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card input[type=text] {
    width: 100%;
    font-size: .8em;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card .subscribe-btn {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0px;
  }
  .wrapper section.subscribe div.clipper div.subscribe-card .subscribe-btn:hover {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    color: white;
  }
  .wrapper section.footer {
    width: 100%;
    height: 350px;
    margin: 0px 0px;
  }
  .wrapper section.footer div.clipper {
    position: absolute;
    width: 1108px;
    height: 300px;
    left: 166px;
    top: 1250px;
  }
  .wrapper section.footer div.clipper ul.footer-links {
    margin-right: 50px;
    margin-top: 50px;
  }
  .wrapper section.footer div.clipper ul.footer-links h5 {
    margin-bottom: 10px;
  }
  .wrapper section.footer div.clipper ul.footer-links li {
    margin-bottom: .2rem;
  }
  .wrapper section.footer div.clipper ul.footer-links li a {
    font-size: .5rem;
  }
  .wrapper section.footer div.clipper ul.footer-links li a:hover {
    font-size: .55em;
  }
  .wrapper section.footer div.clipper ul.icons {
    margin-top: 80px;
  }
  .wrapper section.footer div.clipper ul.icons div.social-media {
    margin-top: 25px;
  }
  .wrapper section.footer .bottom-strip {
    height: 25px;
    top: 1580px;
  }
  .wrapper section.footer div.anim-panel img {
    display: block;
    margin: 100px auto;
  }
}
/*# sourceMappingURL=index.css.map */